[submodule "pack/bundle/start/sensible"]
	path = pack/bundle/start/sensible
	url = https://github.com/tpope/vim-sensible
[submodule "pack/bundle/start/commentary"]
	path = pack/bundle/start/commentary
	url = https://github.com/tpope/vim-commentary
[submodule "pack/bundle/start/surround"]
	path = pack/bundle/start/surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/bundle/start/vinegar"]
	path = pack/bundle/start/vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule "pack/bundle/start/dispatch"]
	path = pack/bundle/start/dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule "pack/bundle/start/projectionist"]
	path = pack/bundle/start/projectionist
	url = https://github.com/tpope/vim-projectionist
[submodule "pack/bundle/start/airline"]
	path = pack/bundle/start/airline
	url = https://github.com/vim-airline/vim-airline
[submodule "pack/bundle/start/ctrlspace"]
	path = pack/bundle/start/ctrlspace
	url = https://github.com/vim-ctrlspace/vim-ctrlspace
[submodule "pack/bundle/start/coc"]
  path = pack/bundle/start/coc
  url = https://github.com/neoclide/coc.nvim
	branch = release
[submodule "pack/bundle/start/gitgutter"]
	path = pack/bundle/start/gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "pack/bundle/start/polyglot"]
	path = pack/bundle/start/polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "pack/bundle/start/nerdtree"]
	path = pack/bundle/start/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "pack/bundle/start/solarized"]
	path = pack/bundle/start/solarized
	url = https://github.com/ericbn/vim-solarized
[submodule "pack/bundle/start/airline-themes"]
	path = pack/bundle/start/airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "pack/bundle/start/zoxide"]
	path = pack/bundle/start/zoxide
	url = https://github.com/nanotee/zoxide.vim
[submodule "pack/bundle/start/repeat"]
	path = pack/bundle/start/repeat
	url = https://github.com/tpope/vim-repeat
[submodule "pack/bundle/start/fugitive"]
	path = pack/bundle/start/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/bundle/start/sleuth"]
	path = pack/bundle/start/sleuth
	url = https://github.com/tpope/vim-sleuth
[submodule "pack/bundle/start/unimpaired"]
	path = pack/bundle/start/unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "pack/bundle/start/ripgrep"]
	path = pack/bundle/start/ripgrep
	url = https://github.com/jremmen/vim-ripgrep
